<nav class="nav">
  <h1 class="nav__logo">Fantastic<span>Meals</span></h1>
  <div class="nav__links">
    <a class="<%= path === "/recipes" ? "active" : "" %>" href="/recipes">Recipes</a>
    <a class="<%= path === "/admin/recipes" ? "active" : "" %>" href="/admin/recipes">Admin Recipes</a>
    <a class="<%= path === "/admin/add-recipe" ? "active" : "" %>" href="/admin/add-recipe">Add Recipe</a>
  </div>
</nav>