<li class="list__list-item">
    <img src="<%= recipe.imgUrl %>" alt="">
    <h1> <%= recipe.title %> </h1>
    <h3> <%= recipe.ingredients %></h3>
    <a href="/recipes/<%= recipe._id %>">See Full Instructions</a>
</li>