<%- include("includes/head.ejs") %>
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <div>
    <h1><%= error.message %></h1>
    <a href="/recipes">Go Back To Home Page</a>
    </div>
</body>
</html>