.container{
    display: flex;
    flex-direction: row;
}

.ingredients__list{
    width: 100%;
    text-decoration: none;
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.list__ingredient{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 9px -6px black;
}