.recipe{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 9px -6px black;
}

.recipe h1{
    font-size: large;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.recipe h2{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0.5rem;
}

.recipe li{
    margin-bottom: 2rem;
}

.recipe img{
    margin-bottom: 1.5rem;
}