.nav{
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo span{
    color: rgb(21, 146, 196);
}

.nav__links{
    display: flex;
    gap: 2rem;
}
.nav__links a{
    text-decoration: none;
    color: black;
}
.nav__links a:hover{
    color: rgb(21, 146, 196);
    border-bottom: 1px solid rgb(21, 146, 196);
    transition: 0.4s;  
}
.active{
    color: rgb(21, 146, 196)!important;
    border-bottom: 1px solid rgb(21, 146, 196);
}